<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>Searching Results for: {{q}}</h2>
                <p>
                    total results: {{total}}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
        {{#each movies}}
            {{#newRow @index 0}}
                <div class="row">
            {{/newRow}}
            {{#newRow @index 3}}
                <div class="row">
            {{/newRow}}

                <div class="col-lg-4">
                    <h4>{{title}} ({{year}})</h4>
                    <p>{{synopsis}}</p>
                    <p>Score: {{ratings.audience_score}}/100</p>
                    <p><img src="{{posters.detailed}}" alt="{{title}}" /></p>
                </div>

            {{#closeRow @index 3}}
                </div>
            {{/closeRow}}
        {{/each}}
</div>